<plugin name='customer-security-plugin-tts' version='0.8' grailsVersion='2.3 &gt; *'>
  <author>Your name</author>
  <title>Customer Security Plugin Tts Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/customer-security-plugin-tts</documentation>
  <type>CustomerSecurityPluginTtsGrailsPlugin</type>
  <resources>
    <resource>com.lj.csp.controller.page.LoginController</resource>
    <resource>com.lj.csp.controller.page.LogoutController</resource>
    <resource>com.lj.csp.controller.page.securitymanage.UserApiController</resource>
    <resource>com.lj.csp.data.Authority</resource>
    <resource>com.lj.csp.data.Member</resource>
    <resource>com.lj.csp.data.MemberAuthority</resource>
    <resource>com.lj.csp.data.Requestmap</resource>
    <resource>com.lj.csp.data.Roles</resource>
    <resource>com.lj.csp.data.RolesAuthority</resource>
    <resource>com.lj.csp.service.security.AuthorityService</resource>
    <resource>com.lj.csp.service.security.MemberService</resource>
    <resource>com.lj.csp.service.security.RequestmapService</resource>
    <resource>com.lj.csp.service.security.RolesService</resource>
    <resource>com.lj.csp.service.security.UserApiService</resource>
  </resources>
</plugin>